<footer op-60>
  <p mt-6 text-sm text-slate>
    <span pr-1>Developer</span>
    <a
    border-b border-slate border-none hover:border-dashed
      href="https://github.com/yuribraga17" target="_blank"
    >
      Yuri Braga
    </a>
    <span px-1>|</span>
    <a
      border-b border-slate border-none hover:border-dashed
      href="https://stats.ddiu.io/app.js" target="_blank"
    >
      Source Code
    </a>
  </p>
</footer>